In [93]:
import hashlib
import pandas as pd 
orders = pd.read_csv('transactions.csv', sep = ';')
orders.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2012      1  t001      A1       7   2904  20328  1200
1  2012      1  t002      A2       2   1896   3792  1100
2  2012      2  t003      A1       5   2904  14520  1200
3  2012      2  t004      A4       1   8618   8618  4200
4  2012      2  t005      A5       3   5175  15525   500

In [94]:
hashlib.sha256('yandex@ty.ty'.encode('utf-8')).hexdigest()

'3c14496c819a85e2ad91427cfeb9f4c63dd1edb6c4bc847d7857cca0247d9a43'

In [98]:
def hash_name(row):
    return hashlib.sha256(row['ID'].encode('utf-8')).hexdigest()

In [99]:
orders['hash_tel'] = orders.apply(hash_name,axis = 1)

In [100]:
orders.head()

,Year,Month,ID,Product,Amount,Price,Total,Cost,hash_tel
0,2012,1,t001,A1,7,2904,20328,1200,547092751d956de3c7c4c62f1b9fdfcbbde27f7c7b2ea5...
1,2012,1,t002,A2,2,1896,3792,1100,82f79c0807a5bdc47c2e9ca7e18cc11d8c77c2e1a04ec9...
2,2012,2,t003,A1,5,2904,14520,1200,f8b20f2836bf531c62c13cee715f21aade1fc4452ec8e7...
3,2012,2,t004,A4,1,8618,8618,4200,e065c81c9206130abae69e2c7f2d0a25a7c2fbeaf75fc4...
4,2012,2,t005,A5,3,5175,15525,500,3fcbb76c3243a2572005730f0efd352bcf859d39c744db...

In [30]:
import pandas as pd 
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [31]:
genres = ['Drama', 'Action', 'Thriller', 'Comedy', 'Romance', 'War', 'Mystery', 'Crime']

In [107]:
Fantasy_movies = movies[movies['genres'].str.contains('Fantasy',case=False)]['movieId'].unique() # Case - учет или неучет регистра

In [108]:
len (Fantasy_movies)

654

In [6]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

Основные параметры метода merge:

how — при значении left берем все значения из ratings и ищем их соответствия в movies. Если нет совпадений, то ставим нулевое значение. При этом все значения из ratings сохраняются. Другие варианты: right, inner (оставляем только те movieId, которые есть в обоих датафреймах), outer (объединение всех вариантов movieId в датафреймах).
on — по какому столбцу происходит объединение. Для объединения по нескольким столбцам используйте on = ['col1', 'col2'] или left_on и right_on.

In [110]:
len(ratings) == len(joined)

True

In [4]:
import numpy as np
def genres_ratings(row):
    return pd.Series([row['rating'] if genre in row['genres'] else np.NaN for genre in genres])

In [7]:
joined[genres] = joined.apply(genres_ratings, axis=1)
joined.head()

,userId,movieId,rating,timestamp,title,genres,Drama,Action,Thriller,Comedy,Romance,War,Mystery,Crime
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
for genre in genres:
    print('{} mean rating {:.2f}'.format(genre, joined[genre].mean()))

Drama mean rating 3.68
Action mean rating 3.45
Thriller mean rating 3.52
Comedy mean rating 3.45
Romance mean rating 3.56
War mean rating 3.82
Mystery mean rating 3.68
Crime mean rating 3.68

In [28]:
filtered_joined = joined['Comedy'][joined['Comedy'].notnull()]
len(filtered_joined)

38026

In [36]:
import pandas as pd 
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [39]:
genres = ['Drama', 'Action', 'Thriller', 'Comedy', 'Romance', 'War', 'Mystery', 'Crime']

def genres_ratings(row):
    return pd.Series([row['rating'] if genre in row['genres'] else np.NaN for genre in genres])

joined[genres] = joined.apply(genres_ratings, axis=1)

# Определяем, сколько оценок имеет жанр с наименьшим кол-вом оценок
for genre in genres:
    print(genre, len(joined[genre][joined[genre].notnull()])) #isna() - убираем НаНы

Drama 44752
Action 27056
Thriller 25240
Comedy 38026
Romance 19336
War 5025
Mystery 7625
Crime 16266

In [ ]:
    print(genre,  #isna() - убираем НаНы

In [ ]:
import pandas as pd 
crm = pd.read_table('crm_stats.tsv')
direct = pd.read_table('direct_stats.tsv')

In [ ]:
joined1 = direct.merge(crm, on=['date', 'campaign'], how='left')
joined1.head()

Вам необходимо совместить эти выгрузки по дате и названию кампании. И посчитать стоимость заказа для каждой кампании за каждый день. Т. е. отношение расходов (столбец cost) к количеству заказов (столбец orders). Какое значение стоимости заказа получится к кампании landings_promo за 1 января 2018? Ответ округлите до ближайшего целого числа. Пример ответа: 698

In [ ]:
joined1['cost_day'] = joined1['cost']/joined1['orders']
joined1.head()

In [ ]:
joined1.loc[joined1['campaign'] == 'landings_promo']