Проект монетизируется в двух основных регионах — Москве и Санкт-Петербурге. В обоих регионах известны количество пользователей и полученная выручка. Необходимо понять, в каком регионе монетизация более эффективна. Т. е. посчитать отношение выручки к количеству пользователей проекта в каждом регионе и сравнить эти значения (эту метрику называют ARPU — Average Revenue per User).

В Москве проект имеет 4 900 пользователей и выручку за отчетный период 63 000 рублей, в Санкт-Петербурге — 3 500 пользователей и 48 000 рублей выручки.

Мы познакомимся с основными типами данных в Рython и освоим операции форматирования результатов, оформив сравнение в следующем формате:

Выручка на пользователя по регионам: Москва — 12.86 рублей, Санкт-Петербург — 13.71 рублей.

In [74]:
users_moscow = 4900
revenue_moscow = 63000
users_spb = 3500
revenue_spb = 48000
arpu_moscow = revenue_moscow / users_moscow
arpu_spb = revenue_spb / users_spb
print(arpu_moscow)

12.857142857142858

In [15]:
type(arpu_moscow)

float

In [16]:
import math
a= math.sqrt(2)
a

1.4142135623730951

In [17]:
type(a)

float

In [18]:
users_moscow = 4900
revenue_moscow = 63000
arpu_moscow = revenue_moscow / users_moscow

In [19]:
print('Москва: пользователей {}, выручка {} рублей, ARPU {:.2f}' .format(users_moscow, revenue_moscow, arpu_moscow))

Москва: пользователей 4900, выручка 63000 рублей, ARPU 12.86

In [20]:
print('Спб: пользователей {}, выручка {} рублей, ARPU {:.4f}' .format(users_spb, revenue_spb, arpu_spb))

Спб: пользователей 3500, выручка 48000 рублей, ARPU 13.7143

In [21]:
a = 1
b = 2

In [22]:
a==b

False

In [23]:
a<=b

True

In [25]:
arpu_moscow>arpu_spb

False

In [26]:
just_numbers  =[2 ,1, 5, 4, 3]

In [27]:
len( just_numbers )

5

In [28]:
sum( just_numbers )

15

In [29]:
sorted( just_numbers )

[1, 2, 3, 4, 5]

In [30]:
sorted( just_numbers, reverse = True )

[5, 4, 3, 2, 1]

In [31]:
just_numbers.append(55)

In [32]:
just_numbers

[2, 1, 5, 4, 3, 55]

In [33]:
list1 = ['один', 'два', 'три']

In [34]:
sorted(list1)

['два', 'один', 'три']

В большинстве случаев данные будут поступать вам в виде листов, а не строк. Например, при чтении таблицы с данными из файла. Если таблица имеет разделитель (например, как запятая в нашей задаче), то для перевода строки в лист можно использовать функцию split. В скобках указываем разделитель элементов (в нашем примере это запятая):

In [35]:
queries_string ="смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [36]:
list2 = queries_string.split(',')

In [37]:
print(list2)

['смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт']

In [38]:
file_string ="003_logs_2017-11-03;001_logs_2017-11-01;005_logs_2017-11-05;002_logs_2017-11-02;004_logs_2017-11-04"

In [39]:
file_list=file_string.split(';')

In [40]:
print(file_list)

['003_logs_2017-11-03', '001_logs_2017-11-01', '005_logs_2017-11-05', '002_logs_2017-11-02', '004_logs_2017-11-04']

In [41]:
file_list_sorted = sorted(file_list)

In [42]:
file_list_sorted.append('006_logs_2017-11-06')

In [43]:
file_list_sorted

['001_logs_2017-11-01',
 '002_logs_2017-11-02',
 '003_logs_2017-11-03',
 '004_logs_2017-11-04',
 '005_logs_2017-11-05',
 '006_logs_2017-11-06']

In [44]:
queriesList = [ 'смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт' ]

In [45]:
print( ','.join( queriesList ) )

смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт

In [46]:
print( '\t'.join( queriesList ) )

смотреть сериалы онлайн	новости спорта	афиша кино	курс доллара	сериалы этим летом	курс по питону	сериалы про спорт

In [47]:
print('||'.join(file_list_sorted))

001_logs_2017-11-01||002_logs_2017-11-02||003_logs_2017-11-03||004_logs_2017-11-04||005_logs_2017-11-05||006_logs_2017-11-06

In [48]:
sequence = [ 'Google Adwords', 'Yandex Direct', 'Facebook', 'VK', 'Partner' ]

In [49]:
sequence[1]

'Yandex Direct'

In [50]:
sequence[0:3]

['Google Adwords', 'Yandex Direct', 'Facebook']

In [51]:
sequence[-3:-1]

['Facebook', 'VK']

In [52]:
sequence[-1]

'Partner'

In [53]:
sequence[-2]

'VK'

In [54]:
justNumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
justNumbers[1::2]

[2, 4, 6, 8, 10]

In [55]:
for i in range(10):
    print( i )

0
1
2
3
4
5
6
7
8
9

In [56]:
direct_revenue = [83171,151604, 46315, 98753, 208648, 184682, 204061,134911,94791,109076,37254, 224991,36400,149320, 171336, 83854, 206799,180922, 235647, 217546, 200478, 239445, 144901, 26522,177971,148458,154937,196095,140202,189223]

In [57]:
week_1_revenue = direct_revenue[:7]

In [58]:
minValue = 4
maxValue = 18

In [59]:
a = range(minValue, maxValue+1,2)

In [60]:
for value in a:
    print(math.sqrt(value))

2.0
2.449489742783178
2.8284271247461903
3.1622776601683795
3.4641016151377544
3.7416573867739413
4.0
4.242640687119285

In [61]:
week_1_revenue = direct_revenue[:7]

In [62]:
total_revenue= 0 
for value in week_1_revenue:
    total_revenue+=value
    print('Значение текущее {}, Сумма на текущем этапе {}'.format(value,total_revenue))

Значение текущее 83171, Сумма на текущем этапе 83171
Значение текущее 151604, Сумма на текущем этапе 234775
Значение текущее 46315, Сумма на текущем этапе 281090
Значение текущее 98753, Сумма на текущем этапе 379843
Значение текущее 208648, Сумма на текущем этапе 588491
Значение текущее 184682, Сумма на текущем этапе 773173
Значение текущее 204061, Сумма на текущем этапе 977234

In [63]:
total_revenue

977234

In [64]:
queriesList ='а у мамки я дебил'.split(' ')

In [65]:
queriesList

['а', 'у', 'мамки', 'я', 'дебил']

In [66]:
queriesText = 'смотреть сериалы онлайн;новости спорта;афиша кино;курс доллара;сериалы этим летом;курс по питону;сериалы про спорт'

In [67]:
list_first = queriesText.split(';')

In [68]:
total = 0
for value in list_first:
    total+=len(value.split(' '))

In [69]:
total

18

In [70]:
queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

Ищем слова из списка, которые содержатся в тексте, при помощи цикла. Сначала разделяем по пробелам элементы списка, потом сравниваем их со списком.

In [71]:
text = 'Название языка питон произошло вовсе не от вида пресмыкающихся. Автор назвал язык в честь популярного британского комедийного телешоу 1970-х Летающий цирк Монти Пайтона'
words_to_find = ['питон', 'Монти', 'проверка', 'честь', 'шоу', 'драма']
list_text = text.split(' ')
for value in list_text:
    if value in words_to_find:
        print ('Значение {} найдено в тексте'.format(value))

Значение питон найдено в тексте
Значение честь найдено в тексте
Значение Монти найдено в тексте

In [ ]:
Внизу второй вариант решения поиска слов, которые есть во втором списке.

In [73]:
text = 'Название языка питон произошло вовсе не от вида пресмыкающихся. Автор назвал язык в честь популярного британского комедийного телешоу 1970-х Летающий цирк Монти Пайтона'
words_to_find = ['питон', 'Монти', 'проверка', 'честь', 'шоу', 'драма']
for i in words_to_find:
    if i in text:
        print ('Слово {} найдено в тексте'.format(i))
    else:
       print ('Слово {} НЕ найдено в тексте'.format(i))

Слово питон найдено в тексте
Слово Монти найдено в тексте
Слово проверка НЕ найдено в тексте
Слово честь найдено в тексте
Слово шоу найдено в тексте
Слово драма НЕ найдено в тексте

(Вам необходимо написать скрипт, который выводит на экран строчку queries, в которой оставлены только те запросы, которые содержат слова из листа words.) Код строкой выше.

In [75]:
queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"
queriesList = queries.split(',')
result = []
words = ['сериалы', 'курс']
for value in queriesList:
    for valuation in value.split(' '):
        if valuation in words:
            result.append(value)
result = (',').join(result)
print(result)

смотреть сериалы онлайн,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт