In [1]:
startDate = '2017-12-01'
endDate = '2017-12-31'

In [2]:
date_string = '05.10.2016  23:18'

In [3]:
type( date_string)

str

Соответственно, сейчас мы не можем выполнять со строкой никаких операций. Например, прибавить к этой дате неделю или посчитать, к какому году она относится. Нам необходимо перевести эту дату в формат datetime. Для этого в Python есть библиотека с аналогичным названием datetime. Импортируем ее в наш скрипт:

In [4]:
import datetime

На текущем занятии мы будем использовать из этой библиотеки следующие модули: datetime для распознавания формата дат и timedelta для прибавления к текущей дате определенный временной интервал. Нам придется вызывать эти модули следующим образом: datetime.datetime и datetime.timedelta , что достаточно громоздко. Чтобы сделать код более читабельным, давайте импортируем эти модули следующим образом. Это избавит нас от необходимости писать 'datetime.' перед каждым вызовом модулей.

In [5]:
from datetime import datetime, timedelta

Чтобы перевести переменную date_string в формат даты и времени, необходимо указать, в каком формате записана наша переменная. Допустим, что в этом примере цифры значат следующее:

05 - день
10 - месяц
2016 - год
23 - часы
18 - минуты
В Python для каждого формата даты и времени есть свое обозначение. Например, чтобы указать формат 'часы в формате от 0 до 24', надо на странице https://docs.python.org/3/library/datetime.html в таблице форматов (она в конце страницы) найти соответствующее обозначение — 'Hour (24-hour clock) as a zero-padded decimal number', т. е. %H.

В этой таблице есть много форматов, даже на случаи обозначения дней недели, как Sun, Mon (первая строка таблицы) и использование AM и PM.

Давайте расшифруем формат переменной date_string. Для этого используется метод strptime, который переводит переменную типа строка в переменную типа дата и время.

В качестве первого аргумента ставим строковую переменную (date_string), потом указываем формат (при указании формата обязательно учитываем все точки и двоеточия):

In [6]:
date_string = '05.10.2016  23:18'
datetime.strptime( date_string, '%d.%m.%Y %H:%M' )

datetime.datetime(2016, 10, 5, 23, 18)

In [7]:
date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
type( date_datetime )

datetime.datetime

In [8]:
date_datetime.year # если хотим сгруппировать статистику покупок по году

2016

In [9]:
date_datetime.hour # если строим отчет активности покупок по часам

23

С помощью метода datetime.strptime переведите строку 'May 9 2017 9:00AM' в формат datetime.

Выделите и запишите номер часа в этой дате (в виде целого числа). Подсказка: у обозначения месяца May формат %b, у AM - %p

In [10]:
date_string1 = 'May 9 2017 9:00AM'
datetime.strptime( date_string1, '%b %d %Y %H:%M%p' )

datetime.datetime(2017, 5, 9, 9, 0)

In [11]:
date_datetime1 = datetime.strptime( date_string1, '%b %d %Y %H:%M%p' )
date_datetime1.hour

9

Допустим, у нас есть дата начала выгрузки startDate. Необходимо прибавить к этой дате день. Воспользуемся модулем timedelta.Переводим строковую переменную startDate в формат datetime.

In [12]:
startDate = '2017-01-01'
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d' )

Теперь можем прибавлять к ней нужные временные интервалы с помощью timedelta:

In [13]:
startDate_datetime + timedelta( days = 7 )

datetime.datetime(2017, 1, 8, 0, 0)

In [14]:
startDate_datetime + timedelta( days = -7 ) #можно не только прибавлять дни, но и отнимать

datetime.datetime(2016, 12, 25, 0, 0)

Для увеличения даты и времени на определенное количество часов или минут просто меняем название параметра. Попробуем добавить к дате выгрузки 1 час:

In [15]:
startDate_datetime + timedelta( hours = 1 )
startDate_datetime

datetime.datetime(2017, 1, 1, 0, 0)

Возьмите дату из прошлого шага 'May 9 2017 9:00AM', переведите в формат datetime и прибавьте к ней час с помощью timedelta.

In [16]:
date_datetime2 = date_datetime1 +timedelta( hours = 1 )

После вычислений с датами можно легко вернуть результат обратно в строку. Для этого воспользуемся методом strftime, указав в качестве аргумента желаемый формат:

In [17]:
startDate_datetime.strftime( '%Y-%m-%d %H:%M:%S' )

'2017-01-01 00:00:00'

Возьмите результат прошлого упражнения (прибавление часа к 9 мая) и запишите результат в формате '%Y-%m-%d'.

In [18]:
date_datetime2.strftime( '%Y-%m-%d' )

'2017-05-09'

In [19]:
current_day = startDate_datetime

In [20]:
a = 1
while a < 5:
    print( a )    
    a += 1

1
2
3
4

С датами можно работать в цикле. Например, у нас есть две даты - 1 и 7 января 2017 года с указанным временем. Давайте выведем все между ними стоящие даты:

In [21]:
current_day = startDate_datetime
endDate_datetime = '2017.01.07 00:00'
endDate_datetime = datetime.strptime( endDate_datetime, '%Y.%m.%d %H:%M' )
while current_day <= endDate_datetime:
    print(current_day.strftime( '%Y-%m-%d' )  )    
    current_day += timedelta( days = 1 )

2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-07

In [22]:
endDate_datetime

datetime.datetime(2017, 1, 7, 0, 0)

Напишите алгоритм, который «пробегает» период 1 до 3 января включительно по часам. Формат вывода '%Y-%m-%d %H:%M:%S'.
Какое значение будет последним для 2 января (т. е. 23 часа 2 января)? Результат должен иметь формат %Y-%m-%d %H:%M:%S

In [23]:
current_day = startDate_datetime
endDate_datetime = '2017.01.07 00:00'
endDate_datetime = datetime.strptime( endDate_datetime, '%Y.%m.%d %H:%M' )
while current_day <= endDate_datetime:
    print(current_day.strftime( '%Y-%m-%d %H:%M:%S' )  )    
    current_day += timedelta( hours = 1 )

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00
2017-01-03 01:00:00
2017-01-03 02:00:00
2017-01-03 03:00:00
2017-01-03 04:00:00
2017-01-03 05:00:00
2017-01-03 06:00:00
2017-01-03 07:00:00
2017-01-03 08:00:00
2017-01-03 09:00:00
2017-01-03 10:00:00
2017-01-03 11:00:00
2017-01-03 12:00:00
2017-01-03 13:00:00
2017-01-03 14:00:00
2017-01-03 15:00:00
2017-01-03 16:00:00
2017-01-03 17:00:00
2017-01-03 18:00:00
2017-01-03 19:00:00
2017-01-03 20:00:00
2017-01-03 21:00:00
2017-01-03 22:00:00
2017-01-03 23:00:00
2017-01-04 00:00:00
2017-01-04 01:00:00
2017-01-04 02:00:00
2017-01-04 03:00:00
2017-01-04 04:00:00
2017-01-04 05:00:00
2017-01-04 06:00:00
2017-01-04 07:00:00
2017-01-04 08:00:00
2017-01-04 09:00:00
2017-01-04 10:00:00
2017-01-04 11:00:00
2017-01-04 12:00:00
2017-01-04 13:00:00
2017-01-04 14:00:00
2017-01-04 15:00:00
2017-01-04 16:00:00
2017-01-04 17:00:00
2017-01-04 18:00:00
2017-01-04 19:00:00
2017-01-04 20:00:00
2017-01-04 21:00:00
2017-01-04 22:00:00
2017-01-04 23:00:00
2017-01-05 00:00:00
2017-01-05 01:00:00
2017-01-05 02:00:00
2017-01-05 03:00:00
2017-01-05 04:00:00
2017-01-05 05:00:00
2017-01-05 06:00:00
2017-01-05 07:00:00
2017-01-05 08:00:00
2017-01-05 09:00:00
2017-01-05 10:00:00
2017-01-05 11:00:00
2017-01-05 12:00:00
2017-01-05 13:00:00
2017-01-05 14:00:00
2017-01-05 15:00:00
2017-01-05 16:00:00
2017-01-05 17:00:00
2017-01-05 18:00:00
2017-01-05 19:00:00
2017-01-05 20:00:00
2017-01-05 21:00:00
2017-01-05 22:00:00
2017-01-05 23:00:00
2017-01-06 00:00:00
2017-01-06 01:00:00
2017-01-06 02:00:00
2017-01-06 03:00:00
2017-01-06 04:00:00
2017-01-06 05:00:00
2017-01-06 06:00:00
2017-01-06 07:00:00
2017-01-06 08:00:00
2017-01-06 09:00:00
2017-01-06 10:00:00
2017-01-06 11:00:00
2017-01-06 12:00:00
2017-01-06 13:00:00
2017-01-06 14:00:00
2017-01-06 15:00:00
2017-01-06 16:00:00
2017-01-06 17:00:00
2017-01-06 18:00:00
2017-01-06 19:00:00
2017-01-06 20:00:00
2017-01-06 21:00:00
2017-01-06 22:00:00
2017-01-06 23:00:00
2017-01-07 00:00:00

Чтобы каждый раз не повторять алгоритм перебора дат, мы подготовили для вас функцию, которая сразу формирует список с датами в заданном диапазоне. Вы можете скопировать ее и использовать в работе. Пример работы функции приведен в ее описании:

In [24]:
def date_range(start_date, end_date):
    """
    Возвращает список дат между start_date и end_date с шагом в день.
    Если start_date > end_date, то возвращает пустой список. 
    Пример
    date_range('2018-01-01', '2018-01-07')
    [
        '2018-01-01',
        '2018-01-02',
        '2018-01-03',
        '2018-01-04',
        '2018-01-05',
        '2018-01-06',
        '2018-01-07'
    ]
    """ 
    date_range_list = []
    current_date = start_date  
    current_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')   
    while current_date_dt <= end_date_dt:
        date_range_list.append(current_date)        
        current_date_dt += timedelta(days=1)
        current_date = current_date_dt.strftime('%Y-%m-%d')    
    return date_range_list

Нам необходимо для пользователей из датасета data.tsv посчитать метрику lifetime, т. е. среднее время жизни (с точки зрения покупок, конечно). Т. е. если пользователь сделал 2 и более заказа, то для него необходимо посчитать разницу во времени между первой и последней покупкой и, соответственно, усреднить это значения для всех пользователей.

Основной проблемой будет то, что время покупки у нас задано в виде строки. Соответственно, необходимо перевести эту дату в числа и считать разницу между первой и последней покупкой.

In [26]:
import pandas as pd
data = pd.read_csv('data.tsv', sep='\t')
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [27]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [28]:
data['datetime'] = data.apply(convert_to_datetime, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

Для подсчета разницы в датах есть много методов. Одним из самых простых является перевод времени в формат unixtime. Он означает количество секунд, прошедшее с 1 января 1970 года. Этот формат очень популярен и используется во многих системах. Попробуем использовать его для нашей задачи.

Для перевод столбца datetime в unix-формат даты используем библиотеку time и следующую функцию:

In [29]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

In [30]:
data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09

In [31]:
data1 = data.groupby('user_id').agg({'unixtime':['min','max']}).reset_index()

In [32]:
data1['unixtime']['max'] #вот как можно обращаться к подколонке

0      1.475699e+09
1      1.476038e+09
2      1.475699e+09
3      1.475934e+09
4      1.475693e+09
5      1.475945e+09
6      1.475970e+09
7      1.476020e+09
8      1.475631e+09
9      1.475564e+09
10     1.475581e+09
11     1.475675e+09
12     1.475312e+09
13     1.475929e+09
14     1.475820e+09
15     1.475991e+09
16     1.475903e+09
17     1.475961e+09
18     1.476004e+09
19     1.475766e+09
20     1.475699e+09
21     1.476037e+09
22     1.475721e+09
23     1.475333e+09
24     1.475744e+09
25     1.475957e+09
26     1.475525e+09
27     1.475564e+09
28     1.475330e+09
29     1.475716e+09
           ...
94     1.475608e+09
95     1.475888e+09
96     1.475448e+09
97     1.475890e+09
98     1.475543e+09
99     1.475770e+09
100    1.475447e+09
101    1.475440e+09
102    1.475899e+09
103    1.475404e+09
104    1.475693e+09
105    1.475608e+09
106    1.475289e+09
107    1.475822e+09
108    1.475555e+09
109    1.475534e+09
110    1.475850e+09
111    1.475698e+09
112    1.475753e+09
113    1.475978e+09
114    1.475692e+09
115    1.475644e+09
116    1.475484e+09
117    1.475292e+09
118    1.475464e+09
119    1.475721e+09
120    1.475614e+09
121    1.475633e+09
122    1.475697e+09
123    1.476052e+09
Name: max, Length: 124, dtype: float64

In [33]:
data2 = data1['unixtime']

In [34]:
data2['max']

0      1.475699e+09
1      1.476038e+09
2      1.475699e+09
3      1.475934e+09
4      1.475693e+09
5      1.475945e+09
6      1.475970e+09
7      1.476020e+09
8      1.475631e+09
9      1.475564e+09
10     1.475581e+09
11     1.475675e+09
12     1.475312e+09
13     1.475929e+09
14     1.475820e+09
15     1.475991e+09
16     1.475903e+09
17     1.475961e+09
18     1.476004e+09
19     1.475766e+09
20     1.475699e+09
21     1.476037e+09
22     1.475721e+09
23     1.475333e+09
24     1.475744e+09
25     1.475957e+09
26     1.475525e+09
27     1.475564e+09
28     1.475330e+09
29     1.475716e+09
           ...
94     1.475608e+09
95     1.475888e+09
96     1.475448e+09
97     1.475890e+09
98     1.475543e+09
99     1.475770e+09
100    1.475447e+09
101    1.475440e+09
102    1.475899e+09
103    1.475404e+09
104    1.475693e+09
105    1.475608e+09
106    1.475289e+09
107    1.475822e+09
108    1.475555e+09
109    1.475534e+09
110    1.475850e+09
111    1.475698e+09
112    1.475753e+09
113    1.475978e+09
114    1.475692e+09
115    1.475644e+09
116    1.475484e+09
117    1.475292e+09
118    1.475464e+09
119    1.475721e+09
120    1.475614e+09
121    1.475633e+09
122    1.475697e+09
123    1.476052e+09
Name: max, Length: 124, dtype: float64

In [35]:
data2['diff'] = data2['max'] - data2['min']

In [36]:
data2['diff']

0           0.0
1           0.0
2       71760.0
3      647340.0
4      374520.0
5      121020.0
6      401700.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13     608340.0
14          0.0
15     705780.0
16          0.0
17     326280.0
18     266400.0
19      86280.0
20          0.0
21     684060.0
22      46620.0
23          0.0
24     198060.0
25     630720.0
26     174900.0
27      93300.0
28          0.0
29      88140.0
         ...
94          0.0
95          0.0
96          0.0
97          0.0
98          0.0
99          0.0
100         0.0
101         0.0
102         0.0
103         0.0
104         0.0
105         0.0
106         0.0
107         0.0
108         0.0
109         0.0
110         0.0
111         0.0
112         0.0
113         0.0
114         0.0
115         0.0
116         0.0
117         0.0
118         0.0
119         0.0
120         0.0
121         0.0
122         0.0
123    721380.0
Name: diff, Length: 124, dtype: float64

In [37]:
data3 = data2.query('diff > 0')

In [38]:
data3['diff'].mean()//60/60/24

3.485416666666667