In [3]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

userId — идентификаторы пользователей, которые выставляли оценки фильмам;

movieId — идентификатор фильма.

rating — выставленный рейтинг фильма; 

timestamp — время выставления рейтинга. Это популярный формат даты и времени unixtime. Показывает количество секунд, прошедшее с 1 января 1970 года. Вы будете очень часто встречать этот формат.

In [4]:
len(ratings['userId'].unique())

671

In [5]:
min(ratings['rating'])

0.5

In [6]:
ratings.groupby('userId').count().head() #группировка по полю, считая суммарное количество других полей, без значений

        movieId  rating  timestamp
userId
1            20      20         20
2            76      76         76
3            51      51         51
4           204     204        204
5           100     100        100

In [7]:
ratings_count = ratings.groupby('userId').count().reset_index()[['userId', 'movieId']] 
ratings_count.head() #сбросить индексы и взять только нужные столбцы

   userId  movieId
0       1       20
1       2       76
2       3       51
3       4      204
4       5      100

In [8]:
ratings_count.sort_values('movieId',ascending = False).head()

     userId  movieId
546     547     2391
563     564     1868
623     624     1735
14       15     1700
72       73     1610

In [9]:
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ]

In [10]:
film_fans_ratings_count.sort_values('movieId').head(100)

     userId  movieId
187     188      100
159     160      100
369     370      100
559     560      100
4         5      100
256     257      103
66       67      103
622     623      103
216     217      104
35       36      104
338     339      105
654     655      105
496     497      105
571     572      106
415     416      107
84       85      107
535     536      109
42       43      110
380     381      110
492     493      110
37       38      111
501     502      113
390     391      113
303     304      113
168     169      113
262     263      114
602     603      114
233     234      115
670     671      115
167     168      116
..      ...      ...
608     609      140
640     641      140
315     316      140
253     254      141
395     396      141
658     659      142
254     255      145
74       75      145
377     378      147
158     159      148
515     516      149
625     626      150
646     647      150
90       91      150
323     324      151
486     487      152
389     390      153
519     520      154
234     235      155
249     250      155
562     563      158
92       93      159
518     519      160
80       81      160
82       83      161
509     510      161
370     371      161
20       21      162
594     595      163
532     533      163

[100 rows x 2 columns]

In [11]:
film_fans_user_ids = film_fans_ratings_count['userId'].tolist()

In [12]:
film_fans_user_ids[0:5]

[4, 5, 8, 15, 17]

Осталось отфильтровать исходный датафрейм с рейтингами, оставив только пользователей из списка film_fans_user_ids. Для этого достаточно использовать метод isin.

Метод isin библиотеки Pandas для каждого значения столбца проверяет, входит ли это значение в список film_fans_user_ids. Этот метод удобно использовать в качестве фильтра для датафрейма.

In [13]:
fans_data = ratings[ ratings['userId'].isin(film_fans_user_ids) ]
fans_data.head()

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645
148       4       34     5.0  949919556
149       4      112     5.0  949810582
150       4      141     5.0  949919681
151       4      153     4.0  949811346

После получения датафрейма с киноманами можем посчитать искомую метрику Lifetime. В нашем случае  Lifetime пользователя — это разница между максимальным и минимальным значением столбца timestamp, т. е. средняя разница между последней и первой оценкой. Для расчета вам необходимо выполнить несколько шагов:

1. Сгруппировать датафрейм fans_data по userId и получить минимальное и максимально значение столбца timestamp. Напомним, что это можно получить в одну команду, используя метод agg(['min', 'max']).

2. В отдельном столбце рассчитать разницу 'diff' между минимальным и максимальным значением timestamp. После группировки у вас, скорее всего, будут столбцы со «вложенными» названиями. Для расчета разницы можно использовать следующий синтаксис (датафрейм после группировки и расчета min и max обозначен как min_max_df):

min_max_df['timestamp']['max'] - min_max_df['timestamp']['min']
3. Посчитать среднее значение столбца 'diff'. Это и будет значение Lifetime (в секундах).

4. Переведите это значение в дни.
Ниже показано два решения - мое и преподавателя

In [14]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ]
film_fans_user_ids = film_fans_ratings_count['userId'].tolist()
fans_data = ratings[ ratings['userId'].isin(film_fans_user_ids) ]

In [16]:
min_max_df = fans_data.groupby('userId').timestamp.agg(['min', 'max'])

In [17]:
ratings['diff'] = min_max_df['max'] - min_max_df['min']
ratings['diff']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4            203560.0
5              2101.0
6                 NaN
7                 NaN
8             85187.0
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15        471393496.0
16                NaN
17             8053.0
18                NaN
19             5282.0
20                NaN
21          1365432.0
22            91491.0
23         18342129.0
24                NaN
25                NaN
26         20267261.0
27                NaN
28                NaN
29                NaN
             ...
99974             NaN
99975             NaN
99976             NaN
99977             NaN
99978             NaN
99979             NaN
99980             NaN
99981             NaN
99982             NaN
99983             NaN
99984             NaN
99985             NaN
99986             NaN
99987             NaN
99988             NaN
99989             NaN
99990             NaN
99991             NaN
99992             NaN
99993             NaN
99994             NaN
99995             NaN
99996             NaN
99997             NaN
99998             NaN
99999             NaN
100000            NaN
100001            NaN
100002            NaN
100003            NaN
Name: diff, Length: 100004, dtype: float64

In [18]:
ratings['diff'].mean() / 3600 / 24

455.2285713719898

In [19]:
# Получаем новый датафрейм
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ]
film_fans_user_ids = film_fans_ratings_count['userId'].tolist()
fans_data = ratings[ ratings['userId'].isin(film_fans_user_ids) ]
# Группируем по userId и получаем минимальное и максимальное значения timestamp
min_max_df = fans_data.groupby('userId').agg(['min', 'max'])
# Считаем новый столбец diff
min_max_df['diff'] = min_max_df['timestamp']['max'] - min_max_df['timestamp']['min']
# Получаем ответ в секундах
min_max_df['diff'].mean() / 3600 / 24

min    455.228571
max    455.228571
dtype: float64

In [20]:
import pandas as pd
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Если мы хотим получить распределение количества оценок для одного заданного пользователя, то можно было бы просто использовать метод value_counts. Например, для пользователя 1

In [21]:
data[ data['userId'] == 1 ]['rating'].value_counts()

2.0    7
3.0    4
4.0    3
2.5    3
1.0    2
3.5    1
Name: rating, dtype: int64

Чтобы получить такую таблицу для всех пользователей, давайте в строки поставим значения userId, а в столбцы — значения рейтинга rating. В ячейки поместим количество строк. В итоге получим классическую сводную таблицу. В нашей таблице довольно много неопределенных значений (ячеек с NaN). Довольно логично, т. к. далеко не все пользователи выставляют все значения от 0.5 до 5.0. Чтобы избавиться от них, добавим в сводную таблицу параметр  fill_value. И заменим эти значения на 0:

In [22]:
datasplit = data.pivot_table(index = 'userId', columns = 'rating',values = 'timestamp',aggfunc = 'count',fill_value = 0, margins=True)
datasplit

rating,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,All
userId,,,,,,,,,,,
1,0.0,2.0,0.0,7.0,3.0,4.0,1.0,3.0,0.0,0.0,20.0
2,0.0,2.0,0.0,4.0,0.0,36.0,0.0,23.0,0.0,11.0,76.0
3,0.0,0.0,0.0,1.0,3.0,18.0,9.0,11.0,4.0,5.0,51.0
4,0.0,5.0,0.0,5.0,0.0,23.0,0.0,52.0,0.0,119.0,204.0
5,0.0,0.0,1.0,0.0,3.0,3.0,27.0,42.0,19.0,5.0,100.0
6,1.0,2.0,3.0,7.0,0.0,7.0,3.0,11.0,6.0,4.0,44.0
7,0.0,3.0,0.0,5.0,0.0,41.0,0.0,26.0,0.0,13.0,88.0
8,1.0,0.0,0.0,3.0,4.0,13.0,26.0,35.0,16.0,18.0,116.0
9,0.0,0.0,0.0,5.0,0.0,9.0,0.0,23.0,0.0,8.0,45.0
10,0.0,0.0,0.0,5.0,0.0,13.0,0.0,19.0,0.0,9.0,46.0
11,0.0,1.0,0.0,0.0,0.0,6.0,4.0,9.0,8.0,10.0,38.0
12,0.0,12.0,0.0,17.0,0.0,14.0,0.0,10.0,0.0,8.0,61.0
13,0.0,0.0,0.0,0.0,3.0,12.0,9.0,16.0,11.0,2.0,53.0
14,0.0,1.0,0.0,5.0,0.0,9.0,0.0,4.0,0.0,1.0,20.0
15,83.0,274.0,128.0,217.0,141.0,312.0,146.0,251.0,56.0,92.0,1700.0
16,0.0,0.0,0.0,0.0,0.0,2.0,4.0,12.0,7.0,4.0,29.0
17,16.0,6.0,4.0,20.0,22.0,30.0,45.0,64.0,79.0,77.0,363.0
18,0.0,2.0,0.0,5.0,0.0,25.0,0.0,17.0,0.0,2.0,51.0
19,0.0,15.0,0.0,14.0,0.0,195.0,0.0,128.0,0.0,71.0,423.0
20,6.0,6.0,3.0,9.0,5.0,8.0,14.0,24.0,11.0,12.0,98.0
21,0.0,0.0,0.0,5.0,0.0,90.0,0.0,47.0,0.0,20.0,162.0
22,0.0,3.0,6.0,36.0,36.0,25.0,27.0,42.0,32.0,13.0,220.0
23,3.0,6.0,15.0,32.0,43.0,76.0,205.0,183.0,113.0,50.0,726.0
24,0.0,0.0,0.0,0.0,0.0,9.0,0.0,10.0,0.0,2.0,21.0
25,0.0,1.0,0.0,6.0,0.0,11.0,0.0,5.0,0.0,3.0,26.0
26,7.0,1.0,4.0,10.0,10.0,26.0,38.0,40.0,20.0,16.0,172.0
27,0.0,1.0,0.0,2.0,0.0,2.0,0.0,13.0,0.0,5.0,23.0
28,0.0,1.0,0.0,3.0,0.0,3.0,0.0,17.0,0.0,26.0,50.0
29,4.0,0.0,1.0,2.0,3.0,4.0,1.0,2.0,1.0,4.0,22.0
30,0.0,20.0,0.0,86.0,0.0,201.0,2.0,505.0,1.0,196.0,1011.0
...,...,...,...,...,...,...,...,...,...,...,...
643,1.0,0.0,0.0,7.0,2.0,2.0,2.0,0.0,2.0,8.0,24.0
644,0.0,1.0,0.0,5.0,0.0,11.0,0.0,8.0,0.0,14.0,39.0
645,0.0,1.0,1.0,1.0,0.0,5.0,5.0,9.0,5.0,3.0,30.0
646,0.0,4.0,0.0,7.0,0.0,16.0,0.0,78.0,0.0,64.0,169.0
647,0.0,3.0,0.0,4.0,0.0,17.0,0.0,51.0,0.0,75.0,150.0
648,0.0,3.0,6.0,19.0,9.0,22.0,44.0,109.0,39.0,5.0,256.0
649,0.0,3.0,0.0,4.0,0.0,39.0,0.0,32.0,0.0,12.0,90.0
650,0.0,4.0,0.0,2.0,0.0,9.0,0.0,9.0,0.0,5.0,29.0
651,0.0,0.0,0.0,1.0,0.0,6.0,0.0,7.0,0.0,6.0,20.0
652,0.0,0.0,0.0,0.0,1.0,11.0,20.0,146.0,15.0,74.0,267.0
653,0.0,2.0,0.0,0.0,0.0,13.0,0.0,17.0,0.0,19.0,51.0
654,1.0,3.0,3.0,12.0,7.0,29.0,82.0,227.0,189.0,73.0,626.0
655,0.0,1.0,0.0,4.0,3.0,7.0,4.0,47.0,11.0,28.0,105.0
656,0.0,2.0,0.0,2.0,0.0,6.0,0.0,35.0,0.0,83.0,128.0
657,0.0,0.0,0.0,2.0,0.0,8.0,0.0,8.0,0.0,2.0,20.0
658,0.0,0.0,0.0,0.0,0.0,10.0,0.0,19.0,0.0,31.0,60.0
659,0.0,2.0,0.0,20.0,0.0,58.0,0.0,45.0,0.0,17.0,142.0
660,1.0,0.0,0.0,0.0,2.0,4.0,4.0,31.0,44.0,6.0,92.0
661,2.0,1.0,0.0,0.0,3.0,1.0,3.0,7.0,9.0,7.0,33.0
662,0.0,2.0,0.0,4.0,0.0,26.0,0.0,21.0,0.0,5.0,58.0
663,0.0,0.0,0.0,0.0,0.0,4.0,8.0,13.0,0.0,1.0,26.0
664,0.0,0.0,2.0,2.0,17.0,71.0,124.0,188.0,106.0,9.0,519.0
665,0.0,17.0,0.0,57.0,0.0,187.0,0.0,131.0,0.0,42.0,434.0
666,0.0,2.0,0.0,12.0,0.0,16.0,0.0,6.0,0.0,4.0,40.0
667,0.0,0.0,0.0,4.0,0.0,28.0,0.0,24.0,0.0,12.0,68.0
668,0.0,2.0,0.0,0.0,0.0,7.0,0.0,3.0,0.0,8.0,20.0
669,0.0,0.0,0.0,7.0,0.0,14.0,0.0,12.0,0.0,4.0,37.0
670,0.0,2.0,0.0,3.0,0.0,5.0,0.0,10.0,0.0,11.0,31.0
671,0.0,1.0,0.0,4.0,4.0,9.0,13.0,57.0,8.0,19.0,115.0
All,1101.0,3326.0,1687.0,7271.0,4449.0,20064.0,10538.0,28750.0,7723.0,15095.0,100004.0

In [23]:
datasplit.sort_values(5.0, ascending=False) #ищем пользователя, который поставил больше всего пятерок

rating,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,All
userId,,,,,,,,,,,
All,1101.0,3326.0,1687.0,7271.0,4449.0,20064.0,10538.0,28750.0,7723.0,15095.0,100004.0
564,0.0,152.0,0.0,187.0,0.0,414.0,0.0,707.0,0.0,408.0,1868.0
232,0.0,35.0,0.0,32.0,0.0,96.0,0.0,276.0,0.0,243.0,682.0
242,0.0,0.0,0.0,4.0,0.0,25.0,0.0,151.0,0.0,219.0,399.0
547,53.0,79.0,58.0,204.0,177.0,411.0,378.0,591.0,226.0,214.0,2391.0
30,0.0,20.0,0.0,86.0,0.0,201.0,2.0,505.0,1.0,196.0,1011.0
472,0.0,23.0,1.0,56.0,5.0,188.0,13.0,315.0,40.0,189.0,830.0
102,0.0,8.0,0.0,40.0,0.0,87.0,0.0,369.0,0.0,174.0,678.0
358,0.0,114.0,0.0,91.0,0.0,118.0,0.0,156.0,0.0,138.0,617.0
388,0.0,27.0,1.0,78.0,10.0,165.0,35.0,297.0,44.0,135.0,792.0
481,0.0,4.0,2.0,10.0,11.0,29.0,55.0,118.0,74.0,133.0,436.0
518,0.0,25.0,0.0,55.0,0.0,249.0,0.0,246.0,0.0,132.0,707.0
287,2.0,0.0,0.0,0.0,1.0,5.0,14.0,45.0,63.0,124.0,254.0
128,0.0,16.0,0.0,29.0,0.0,60.0,0.0,97.0,0.0,121.0,323.0
585,0.0,1.0,0.0,4.0,0.0,34.0,0.0,141.0,0.0,120.0,300.0
4,0.0,5.0,0.0,5.0,0.0,23.0,0.0,52.0,0.0,119.0,204.0
537,0.0,9.0,0.0,20.0,0.0,52.0,0.0,108.0,0.0,118.0,307.0
387,0.0,3.0,0.0,5.0,0.0,36.0,0.0,121.0,0.0,114.0,279.0
577,1.0,2.0,3.0,2.0,4.0,8.0,26.0,54.0,69.0,110.0,279.0
558,0.0,1.0,0.0,2.0,0.0,27.0,0.0,78.0,0.0,107.0,215.0
78,0.0,1.0,3.0,4.0,6.0,8.0,32.0,53.0,52.0,104.0,263.0
407,0.0,1.0,0.0,7.0,0.0,48.0,5.0,128.0,32.0,102.0,323.0
119,0.0,16.0,0.0,106.0,0.0,161.0,0.0,257.0,0.0,101.0,641.0
56,0.0,14.0,0.0,126.0,0.0,0.0,0.0,289.0,0.0,93.0,522.0
15,83.0,274.0,128.0,217.0,141.0,312.0,146.0,251.0,56.0,92.0,1700.0
575,0.0,22.0,0.0,84.0,0.0,186.0,0.0,166.0,0.0,89.0,547.0
431,4.0,2.0,0.0,8.0,5.0,32.0,8.0,61.0,60.0,88.0,268.0
452,14.0,80.0,22.0,147.0,49.0,415.0,120.0,379.0,28.0,86.0,1340.0
656,0.0,2.0,0.0,2.0,0.0,6.0,0.0,35.0,0.0,83.0,128.0
57,0.0,9.0,0.0,14.0,0.0,37.0,0.0,66.0,0.0,83.0,209.0
...,...,...,...,...,...,...,...,...,...,...,...
35,2.0,1.0,5.0,2.0,3.0,1.0,2.0,3.0,0.0,1.0,20.0
604,0.0,3.0,2.0,3.0,1.0,2.0,3.0,4.0,1.0,1.0,20.0
76,0.0,0.0,0.0,1.0,0.0,2.0,6.0,6.0,4.0,1.0,20.0
77,8.0,5.0,8.0,19.0,30.0,49.0,72.0,91.0,33.0,0.0,315.0
263,0.0,2.0,1.0,6.0,6.0,38.0,38.0,20.0,3.0,0.0,114.0
79,5.0,0.0,0.0,7.0,19.0,20.0,3.0,1.0,0.0,0.0,55.0
579,14.0,0.0,0.0,2.0,1.0,1.0,2.0,0.0,1.0,0.0,21.0
485,0.0,1.0,0.0,0.0,3.0,3.0,4.0,5.0,4.0,0.0,20.0
429,2.0,1.0,3.0,8.0,6.0,5.0,0.0,2.0,0.0,0.0,27.0
424,1.0,3.0,0.0,2.0,0.0,3.0,11.0,5.0,5.0,0.0,30.0
419,0.0,0.0,0.0,1.0,4.0,8.0,17.0,7.0,13.0,0.0,50.0
397,0.0,0.0,1.0,1.0,6.0,12.0,15.0,16.0,8.0,0.0,59.0
392,0.0,2.0,2.0,4.0,0.0,5.0,2.0,8.0,2.0,0.0,25.0
378,21.0,1.0,0.0,1.0,5.0,20.0,36.0,39.0,24.0,0.0,147.0
353,15.0,41.0,42.0,73.0,81.0,125.0,121.0,20.0,3.0,0.0,521.0
557,5.0,3.0,3.0,12.0,9.0,9.0,12.0,11.0,2.0,0.0,66.0
325,0.0,2.0,4.0,5.0,1.0,2.0,2.0,2.0,2.0,0.0,20.0
276,1.0,1.0,2.0,2.0,1.0,6.0,2.0,5.0,1.0,0.0,21.0
638,1.0,2.0,1.0,2.0,1.0,2.0,5.0,2.0,4.0,0.0,20.0
591,0.0,0.0,2.0,2.0,4.0,5.0,9.0,5.0,3.0,0.0,30.0
226,1.0,0.0,4.0,3.0,2.0,6.0,6.0,12.0,2.0,0.0,36.0
221,0.0,1.0,0.0,2.0,5.0,9.0,2.0,1.0,0.0,0.0,20.0
210,0.0,0.0,0.0,1.0,16.0,6.0,5.0,2.0,2.0,0.0,32.0
209,0.0,1.0,0.0,5.0,0.0,10.0,0.0,4.0,0.0,0.0,20.0
174,1.0,1.0,1.0,2.0,2.0,3.0,4.0,4.0,3.0,0.0,21.0
170,0.0,2.0,2.0,5.0,5.0,9.0,1.0,1.0,1.0,0.0,26.0
158,0.0,0.0,3.0,2.0,2.0,1.0,5.0,7.0,1.0,0.0,21.0
157,3.0,6.0,6.0,14.0,30.0,59.0,78.0,92.0,38.0,0.0,326.0
633,0.0,0.0,0.0,3.0,0.0,22.0,0.0,7.0,0.0,0.0,32.0
1,0.0,2.0,0.0,7.0,3.0,4.0,1.0,3.0,0.0,0.0,20.0